.mat-expansion-panel,
.mat-card {
    margin-top: 10px !important;
}

.plan-details {
    h4 {
        color: #a7a4a4;
        font-size: 18px;
    }

    .plain-details-info {
        .col-6 {
            margin-bottom: 10px;
        }

        .row {
            .col-6:last-of-type {
                text-align: right;
                font-weight: 500;
            }
        }
    }
}

.payment-radio-button {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.full-width {
    width: 100%;
}

.payment-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.payment-month-picker .mat-calendar-arrow {
    display: none;
}

.change-date-btn {
    .mat-icon {
        margin-right: 4px;
        position: relative;
        top: -2px;
    }
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;

    p {
        font-size: 24px;
        font-weight: 500;
        margin-top: 30px;
    }
}