<div class="container">
    <div class="row">
        <div class="col-md-8">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Payment &amp; Billing Information
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Billing Date
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-4 plan-details">
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your Plan Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 plain-details-info">
                        <div class="row">
                            <div class="col-md-6">Contact number:</div>
                            <div class="col-md-6">xxxxxxxxxxx</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Payment option:</div>
                            <div class="col-md-6">xxxxxxxxxxx</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Monthly plan:</div>
                            <div class="col-md-6">xxxxxxxxxxx</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Plan is paid through:</div>
                            <div class="col-md-6">xxxxxxxxxxx</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Plan start date:</div>
                            <div class="col-md-6">xxxxxxxxxxx</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Next billing date:</div>
                            <div class="col-md-6">xxxxxxxxxxx</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>